<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CourseProject_CISS_311.Properties.Settings.CourseProjectDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=CourseProjectDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CourseProject_CISS_311.Properties.Settings.StudentDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=StudentDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CourseProject_CISS_311.Properties.Settings.CourseProject_CISS_311ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=CourseProject_CISS_311;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>